<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Source</key>
    <string>/Volumes/Macintosh HD/Applications/Install macOS Sierra.app</string>
    <key>Output</key>
    <string>/Volumes/Macintosh HD/Installers/</string>
    <key>Identifier</key>
    <string>com.cultureamp.InstallmacOS.pkg</string>
</dict>
</plist>